<section id="accueil">
    <br>
    <br>
    <br>
<h3>Accueil</h3>
<div style="margin-left: 10px;">Pour mieux vous gagné plusieurs informations, on vous prie de remplir ce formulaire</div>
<div style="margin-left:20px;">
<table border="0">
    <tr>
<td><label for="">Nom:</label></td>
<td><input type="text"></td>
    </tr>

<tr>
    <td><label for="">Mot de passe:</label></td>
    <td><input type="password"></td>
</tr>

</table>
<button style="margin-left: 150px;">Connecter</button>
</div>

</section>
